header{
    background: #f8f9fa;
    height: 4.375rem;
}

nav{
    background: #ffffff;
}

#logo_sm{
    width: 3.125rem;
    height: 3.125rem;
}

#logo_lg{
    display: none;
}

.input_nav{
    background: #e5e5e5;
}

.nav_icon_lg{
    color: #585858;
    display: none;
}

.col-auto button{
    color: #ff8f00;
    background-color: transparent;
    border: none;
}