/*
#ffffff header
#f8f9fa nav-header
#e5e5e5 bg-search-header
#1b72e8 header-bottom
#0e263c a-side
#f8f9ea main

*/
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background: #f8f9fa;
    height: 4.375rem;
}
main{
    height: calc(100vh - 70px);
    background: #ffffff;
}
nav{
    background: #ffffff;
}
#logo_lg{
    display: none;
}
.input_nav{
    background: #e5e5e5;
}
#box_badge span:not(:first-child){
    background-color: #165bba;
}
#button_plus{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.nav_icon_lg{
    color: #585858;
    display: none;
}
.col-2 button{
    color: #ff8f00;
    background-color: transparent;
    border: none;
}
/********************************/
.box{
    background: #0e263c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside span{
    display: none;
    padding-left: .625rem;
}
ul{
    list-style-type: none;
    padding-right: 1.875rem;
}
header a, aside a{
    color: #ffffff;
}
/*********************/
#boolean{
    background-color: #1b72e8;
    color: #ffffff;
    min-height: 125px;
    align-items: center;
}

/*******************/
#box_table{
    border: 1px solid;
    border-radius: .3125rem;
}
#bord_top{
    border-top-right-radius: .3125rem;
    border-top-left-radius: .3125rem;
}
.image{
    width: 1.875rem;
    height: 1.875rem;
    background-size: cover;
}
.hidden_sm, .hidden_lg{
    visibility: hidden;
}

@media screen and (max-width: 992px){
    #all_tables{
        flex-direction: column;
    }
   
}
#button_plus:active{
    
}

@media screen and (min-width: 768px){
    #logo_sm{
        display: none;
    }
    #logo_lg{
        display: block;
    }
    #new{
        order: 1;
    }
    .hidden_sm{
        visibility: visible;
    }
}

@media screen and (min-width: 992px){
    .col-2 a{
            display: inline-block;
        }
    aside span{
        display: inline-block;
    }
    .hidden_lg{
        visibility: visible;
    }
    #d_plus, #box_badge span i{
        display: none;
    }
}